<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    <script type="text/javascript" src="{% static "js/JQuery.js"%}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
    <title>首页</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">爬虫状态</h3>
            </div>
            <div class="panel-body">
                222
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">爬虫数据</h3>
            </div>
            <div class="panel-body">
                <a href="/showData">新闻爬虫</a>
            </div>
        </div>
    </div>
</body>
</html>